<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document System</title>

    <!-- Bootstrap (IMPORTANT for styles) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark px-3">

    <a class="navbar-brand" href="/">
        Secure Sign
    </a>

    <div>
        <a href="/dashboard" class="btn btn-sm btn-light">Dashboard</a>

        <a href="/incoming" class="btn btn-sm btn-warning">Incoming</a>

        <a href="/sent" class="btn btn-sm btn-primary">My Documents</a>

        <a href="/verify" class="btn btn-sm btn-info">Verify</a>

        <a href="/logout" class="btn btn-sm btn-danger">Logout</a>

    </div>

</nav>

<!-- PAGE CONTENT -->
<div class="container mt-4">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
