{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Dashboard</h2>

    <!-- SIGN -->
    <div class="card p-3 mb-4">
        <h5>Sign Document</h5>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" class="form-control mb-2" required>
            <button class="btn btn-primary">Sign</button>
        </form>
    </div>

    {% if signed_file %}

    <div class="card p-3">

        <h5>Signed Document</h5>

        <a href="{{ url_for('download', filename=signed_file) }}"
           class="btn btn-success mb-3">
            Download
        </a>

        <hr>

        <h5>Forward / Copy</h5>

        <form method="POST" action="/forward_document">

            <label>Forward To</label>
            <select name="forward_to" class="form-control mb-2">
                {% for u in users %}
                    <option value="{{ u[0] }}">{{ u[0] }}</option>
                {% endfor %}
            </select>

            <label>Copy To</label>
            <select name="copy_to" class="form-control mb-2">
                <option value="">None</option>
                {% for u in users %}
                    <option value="{{ u[0] }}">{{ u[0] }}</option>
                {% endfor %}
            </select>

            <button class="btn btn-warning">Send</button>

        </form>

    </div>

    {% endif %}

</div>

{% endblock %}
