{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h3>Forward Document</h3>

    <form method="POST">

        <div class="mb-3">
            <label>Next Approver Username</label>
            <input type="text" name="next_user" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Comment</label>
            <textarea name="comment" class="form-control"></textarea>
        </div>

        <button class="btn btn-primary">
            Forward Document
        </button>

    </form>

</div>

{% endblock %}
