{% extends "base.html" %}

{% block content %}

<h3>📨 Forward Document</h3>

<div class="card p-4">

    <form method="POST">

        <div class="mb-3">

            <label class="form-label">
                Forward To
            </label>

            <input
                type="text"
                name="next_user"
                class="form-control"
                required
            >

        </div>

        <div class="mb-3">

            <label class="form-label">
                Comment
            </label>

            <textarea
                name="comment"
                class="form-control"
                rows="4"
            ></textarea>

        </div>

        <button
            type="submit"
            class="btn btn-primary"
        >
            Forward Document
        </button>

    </form>

</div>

{% endblock %}
